{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container emp-profile">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3>
            ADD YOUR POST
          </h3>
          <p class="subtitle-a">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">

        <form class="row g-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">CREATE</button>
          </div>
        </form>
    </div>
  </div>
</section>

      <!-- End Blog Section -->
      {% include 'footer.html' %}
      {% endblock %}