{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container emp-profile">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3>
            REMOVE POST
          </h3>
          <p class="subtitle-a">
            Delete posts cannot be recover!
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">

        <form class="row g-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            Are you sure you want to delete this post:
        <div class="col-12">
            <button class="btn btn-outline-danger w-25" type="submit">Delete</button>
          </div>
        </form>
    </div>
  </div>
</section>

      <!-- End Blog Section -->
      {% endblock %}