{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container emp-profile">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3>
            EDIT OR DELETE BLOGS
          </h3>
          <p class="subtitle-a">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">

      {% for blog in page_obj %}

      <div class="col-md-4">
        <div class="card card-blog"> <!-- card h-100 -->  
          <div class="card-img">
            <a href="{% url 'article' blog.id %}"><img src="{{ blog.getimageurl }}" alt="" class="img-fluid"></a><!--img-fluid-->
          </div>
          <div class="card-body">
            <div class="card-category-box">              
              {% if blog.category is not None %}
                <div class="card-category">
                  <h6 class="category"> {{ blog.category|slice:"15" }} </h6>
                </div>
              {% endif %}
            </div>
            <h3 class="card-title"><a href="{% url 'article' blog.id %}"> {{ blog.heading|slice:"55" }} </a></h3>
            <p class="card-description">
              {{ blog.discription|slice:"150" }}...
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="{% url 'profile' blog.owner.id %}" onclick="return false">
                <img src="{{ blog.owner.profile_image.url }}" alt="" class="avatar rounded-circle">
                <span class="author"> {{ blog.owner.name|slice:"20" }} </span>
              </a>
            </div>
            <div class="post-date">

            <a href="{% url 'edit-post' blog.id %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </button></a>

            <a href="{% url 'delete-post' blog.id %}" class="btn btn-outline-danger" role="button" aria-pressed="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
            </button></a>

              <!-- <span class="bi bi-clock"></span> 10 min -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <nav aria-label="Page navigation">
        <!-- 'pagination-lg' for large pagination  -->
       <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
         {% if page_obj.number > 3 %}
         <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
         {% if page_obj.number > 4 %}
 
         <li class="page-item disabled"><a class="page-link" tabindex="-1" href="#">...</a></li>
 
         {% endif %}
         {% endif %}
         {% endif %}
 
         {% for num in page_obj.paginator.page_range %}
         {% if page_obj.number == num %}
         <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
         {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
         {% endif %}
         {% endfor %}
 
         {% if page_obj.has_next %}
         {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} 
 
         <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">...</a></li>
 
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
         {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} 
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
         {% endif %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
         {% endif %}
       </ul>
     </nav>

    </div>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}