{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Blog
          </h3>
          <p class="subtitle-a">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">

      {% for blog in blogs %}

      <div class="col-md-4">
        <div class="card card-blog"> <!-- card h-100 -->  
          <div class="card-img">
            <a href="{% url 'article' blog.id %}"><img src="{{ blog.featured_image.url }}" alt="" class="img-fluid"></a><!--img-fluid-->
          </div>
          <div class="card-body">
            <div class="card-category-box">              
              {% if blog.category is not None %}
                <div class="card-category">
                  <h6 class="category"> {{ blog.category|slice:"15" }} </h6>
                </div>
              {% endif %}
            </div>
            <h3 class="card-title"><a href="{% url 'article' blog.id %}"> {{ blog.heading|slice:"55" }} </a></h3>
            <p class="card-description">
              {{ blog.discription|slice:"150" }}...
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="{% url 'profile' blog.owner.id %}">
                <img src="{{ blog.owner.profile_image.url }}" alt="" class="avatar rounded-circle">
                <span class="author"> {{ blog.owner.name|slice:"20" }} </span>
              </a>
            </div>
            <div class="post-date">
              <span class="bi bi-clock"></span> 10 min
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- End Blog Section -->
      {% endblock %}