{% extends 'main.html' %}
{% load static %}
{% block content %}

<br>
<br>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ profile.profile_image.url }}" alt="profile-image"/>
                            <!-- <div class="file btn btn-lg btn-primary"> -->
                                <!-- Change Photo -->
                                <!-- <input type="file" name="file"/> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ profile.name }}
                                    </h5>
                                    <h6>
                                        {% if profile.profession is not None %}
                                        {{ profile.profession }}
                                        {% endif %}
                                    </h6>
                                    <p class="proile-rating">BLOG COUNT : <span>{{blog_count}}</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        {% if user.get_username == profile.user.username %}
                            <div class="col-md-2">
                                <a href="{% url 'edit-profile' %}"><button type='button' class="profile-edit-btn" name="btnAddMore">Edit Profile</button></a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            
                            <!-- {{ user.get_username }} -->
                            <!-- {{ profile.user.username }} -->
                        {% if user.is_authenticated %}  
                            {% if user.get_username == profile.user.username %}
                                <a href="{% url 'edit-or-delete-posts' %}"><button type='button' class="profile-edit-btn" name="btnAddMore">Edit/Delete post</button></a>
                            {% endif %}
                        {% endif %}
                            
                            {% if profile.website_link is not None %}
                            <p>LINKS</p>
                            <a href="{{profile.website_link}}">Website</a><br/>
                            {% endif %}

                            {% if blog_count is not None %}
                            <p>RECENT POSTS</p>
                            {% for article in articles %}
                            <a href="{% url 'article' article.id %}">{{ article.heading }}</a><br/> 
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.phone }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ profile.profession }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Short Intro</label>
                                            </div>
                                            <div class="col-md-6">
                                                {{ profile.short_intro }}
                                            </div>
                                        </div>
                            </div>
                            <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>           
        </div>

        
        {% endblock %}