{% extends 'main.html' %}
{% block content%}


<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <h5 class="title-left">Reset Passoword</h5>
                            <br>
                            Forgotten your password? Enter your email address below, and we’ll
                            email instructions for setting a new one.
                        </div>
                        <div>
                            <form method="POST" role="form" class="form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <br>{{form.as_p}}
                                        </div>
                                        <div class="col-md-12" style="margin-left: 30px;">
                                            <button type="submit" value="Submit">Submit</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>

{% endblock %}