

{% extends 'main.html' %}
{% block content%}

<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container emp-profile">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3>
                Password reset complete
            </h3>
            <br>
            <p class="subtitle-a">
                Your password is successfully changed. <a href="{% url 'login' %}">Login now</a>
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
    </div>
  </section>

{% endblock %}