{% extends 'main.html' %}
{% block content%}

<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <h5 class="title-left">Password reset sent</h5>
                            <br>
                        <p>
                            <br>
                            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                        </p>
                            <br>
                        <p>
                            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.             
                        </p>
                            <br />
                    </div>

{% endblock %}
