{% extends 'main.html' %}
{% block content%}

<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <h5 class="title-left">Password reset complete</h5>
                            <br>
                            <p>
                                <br>
                                Your password is successfully changed. <a href="{% url 'login' %}">Login now</a>
                            </p>
                        </div>
                    </div>

{% endblock %}