{% extends 'main.html' %}
{% block content%}

<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container emp-profile">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3>
                Reset Passoword Confirm
            </h3>
            <p class="subtitle-a">
                Set a new password
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
  
          <form  action="" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <div class="col-12">
              <button class="btn btn-outline-primary w-100" type="submit">Confirm</button>
            </div>
          </form>
      </div>
    </div>
  </section>

{% endblock %}